// SCSS Variables
$primary-color: #1976d2;
$secondary-color: #388e3c;
$error-color: #d32f2f;
$warning-color: #f57c00;
$info-color: #0288d1;

$spacing-unit: 8px;
$border-radius: 4px;

// Breakpoints
$breakpoint-xs: 0px;
$breakpoint-sm: 600px;
$breakpoint-md: 960px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1920px;
